<div id='all-skills'>
  {{#each skills}}
  <div class='skill' style='color: {{color}}'>
    <h1 class='skill-title'>{{title}}</h1>
    <p class='skill-description'>{{description}}</p>
    <a href='/skills/{{url}}/'><img src='{{images.large}}'></a>
  </div>
  {{/each}}
</div>
<link rel="stylesheet" type="text/css" href="index-styles.css">
